services:
  rust-app:
#    build:
#      context: .
#      dockerfile: docker/Dockerfile
#      target: prod
    image: portabase/agent:latest
#    platform: linux/arm64
    container_name: rust-prod
    volumes:
      - ./databases.json:/config/config.json
    environment:
      #      APP_ENV: production
      LOG: info
      TZ: "Europe/Paris"
      #      DATABASES_CONFIG_FILE: "config.toml"
      EDGE_KEY: "eyJzZXJ2ZXJVcmwiOiJodHRwOi8vbG9jYWxob3N0Ojg4ODciLCJhZ2VudElkIjoiOGZmMDE4NTQtYjJhMS00ZTE0LTkwMjctZTJiOWIxZjQ1YzdlIiwicHVibGljS2V5IjoiLS0tLS1CRUdJTiBSU0EgUFVCTElDIEtFWS0tLS0tXG5NSUlCQ2dLQ0FRRUE5TWV4M2pmdnVLdFB5YU1ERnh2Ulp2dmd3YkRJQ2JzQi81Wll5NDNSVVRBaXZRYjJiSDdYXG5qRHBQd1lJeCs4UFBrbHlRbDVMQzV1UWZEaCs4SVd4OG1LZ3FvMXpWMkdiZXdGbEdEWFYxVEdyU1ZEU25aSWR4XG52bWdYc29EeXhVMlJvWUFUMS9YMWxuc2YxenZKdkFMTkhXdEhRdk42SjVDZTFSMmFsendVRGFEVXlJNzRmSldQXG5tNTh0SDMrYklXL0VVTXdjaWNxM0oySWw3Vm9KNkZNUHJQL1ZSOWEvdFF1SU1qa200MXpFY2NscExPa2luRkxuXG54NmVUWkFSZUpya2UrbnRvZ2t4TGEyRWV5a1lUNzB4V3hKNWp5ZExBVnRvNkkyQlVLVVJoTkowTUFaU29NYUtvXG5iMGJRcnY1UzExZWllMnMrT2I3aTYzSFpkVUx0UmV1MVJ3SURBUUFCXG4tLS0tLUVORCBSU0EgUFVCTElDIEtFWS0tLS0tXG4ifQ"
    extra_hosts:
      - "localhost:host-gateway"
    networks:
      - portabase



  db-mongodb-auth:
    container_name: db-mongodb-auth
    image: mongo:latest
    ports:
      - "27082:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: testdbauth
    command: mongod --auth
    networks:
      - portabase
    volumes:
      - mongodb-data-auth:/data/db
    healthcheck:
      test: [ "CMD", "mongo", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 10

  db-mongodb:
    container_name: db-mongodb
    image: mongo:latest
    ports:
      - "27083:27017"
    volumes:
      - mongodb-data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      MONGO_INITDB_DATABASE: testdb
    networks:
      - portabase

volumes:
  mongodb-data:
  mongodb-data-auth:


networks:
  portabase:
    name: portabase_network
    external: true