name: Docker Publish

on:
  workflow_call:
    inputs:
      image_name:
        required: false
        type: string
        default: 'portabase/agent'
      add_latest:
        required: false
        type: boolean
        default: false
      target:
        required: false
        type: string
        default: 'prod'
      dockerfile:
        required: false
        type: string
        default: './docker/Dockerfile'
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  build-amd64:
    runs-on: ubuntu-latest
    env:
      ARCH: amd64
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set tags
        id: set-tags
        run: |
          REF_NAME=${GITHUB_REF#refs/tags/}
          ARCH_TAG="${IMAGE_NAME}:$REF_NAME-${ARCH}"
          TAGS="$ARCH_TAG"
          if [ "${ADD_LATEST}" = "true" ]; then
            TAGS="$TAGS,${IMAGE_NAME}:latest-${ARCH}"
          fi
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

      - name: Build and push amd64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          platforms: linux/amd64
          push: true
          tags: ${{ steps.set-tags.outputs.tags }}
          target: ${{ env.TARGET }}
          cache-from: type=registry,ref=${IMAGE_NAME}:buildcache
          cache-to: type=registry,ref=${IMAGE_NAME}:buildcache,mode=max

  build-arm64:
    runs-on: ubuntu-latest
    env:
      ARCH: arm64
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set tags
        id: set-tags
        run: |
          REF_NAME=${GITHUB_REF#refs/tags/}
          ARCH_TAG="${IMAGE_NAME}:$REF_NAME-${ARCH}"
          TAGS="$ARCH_TAG"
          if [ "${ADD_LATEST}" = "true" ]; then
            TAGS="$TAGS,${IMAGE_NAME}:latest-${ARCH}"
          fi
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

      - name: Build and push arm64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          platforms: linux/arm64
          push: true
          tags: ${{ steps.set-tags.outputs.tags }}
          target: ${{ env.TARGET }}
          cache-from: type=registry,ref=${IMAGE_NAME}:buildcache
          cache-to: type=registry,ref=${IMAGE_NAME}:buildcache,mode=max

  manifest:
    needs: [ build-amd64, build-arm64 ]
    runs-on: ubuntu-latest
    steps:
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create and push multi-arch manifest
        run: |
          REF_NAME=${GITHUB_REF#refs/tags/}
          docker manifest create ${IMAGE_NAME}:$REF_NAME \
            ${IMAGE_NAME}:$REF_NAME-amd64 \
            ${IMAGE_NAME}:$REF_NAME-arm64

          if [ "${ADD_LATEST}" = "true" ]; then
            docker manifest create ${IMAGE_NAME}:latest \
              ${IMAGE_NAME}:latest-amd64 \
              ${IMAGE_NAME}:latest-arm64
            docker manifest push ${IMAGE_NAME}:latest
          fi

          docker manifest push ${IMAGE_NAME}:$REF_NAME